<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongdu.mapper.ComboMapper">
    <resultMap id="comboAndProductMap" type="com.hongdu.vo.ComboVO" autoMapping="true">
        <result column="id" property="id"/>
        <collection property="comboItemes" ofType="ComboItem">
            <result column="sd_id" property="id"/>
            <result column="combo_id" property="comboId"/>
            <result column="product_id" property="productId"/>
            <result column="sd_name" property="name"/>
            <result column="sd_price" property="price"/>
            <result column="copies" property="copies"/>
        </collection>
    </resultMap>
    <update id="update" parameterType="Combo">
        update combo
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="Combo" useGeneratedKeys="true" keyProperty="id">
        insert into combo
        (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
        values (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.hongdu.vo.ComboVO">
        select
        s.*,c.name categoryName
        from
        combo s
        left join
        category c
        on
        s.category_id = c.id
        <where>
            <if test="name != null">
                and s.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
        </where>
        order by s.create_time desc
    </select>

    <select id="getByIdWithProduct" parameterType="long" resultMap="comboAndProductMap">
        select a.*,
               b.id    sd_id,
               b.combo_id,
               b.product_id,
               b.name  sd_name,
               b.price sd_price,
               b.copies
        from combo a
                 left join
             combo_item b
             on
                 a.id = b.combo_id
        where a.id = #{id}
    </select>

    <select id="list" parameterType="Combo" resultType="Combo">
        select * from combo
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from combo
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
